body {
    margin: 0;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    
}

h1 {
    margin-top: 0;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

.software-student {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.top-container {
    background-color: #beebe9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
}

.bottom-container {
    background-color: rgb(149, 220, 223);
    width: 200px;
    height: 200px;
}

.top-cloud {
    position: absolute;
    top: 150px;
    right: 200px

}

.bottom-cloud {
    position: absolute;
    top: 300px;
    left: 250px;
}

